<div class="victory">

  <div class="img">
    <img class = "vic vicbox"  ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{winner}}_0.jpg" alt="Player2">
    <img class = "los vicbox"  ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{loser}}_0.jpg" alt="Player2">
  </div>
</div>
<!-- <victory class = "victory">
  <div class="vicContain">

        <img class = "vic vicbox"  ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{winner}}_0.jpg" alt="Player2">
        <img class = "los vicbox"  ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{loser}}_0.jpg" alt="Player2">


  </div>

</victory> -->
