@media(min-width:300px){
  .mobileContain{
    display: none;
  }
  .container{

    width: 100vw;height: 100vh;
    .logo{
      width:100%;height:10%;

      display: flex;
      justify-content: center;
      padding-bottom: 10px;

      .banner{
        width:50%;
        height:100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
      	font-size: 24px;
      	font-style: normal;
      	font-variant: normal;
      	font-weight: 500;
      	line-height: 26.4px;
        color:black;
        h2{
          margin: 0;
        }
      }
    }
    .bracket{

    width:100vw;
    height: 15%;
    background-color:orange;
    display: flex;
    justify-content: center;
    .current{
      width:50%;
      height:100%;
      background-color: blue;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding-top: 10px;
      #versus{
        height:30%;width:10%;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
}
  .action{
    width:100vw;height:75%;
    background-color: black;
    display: flex;
    .left{width:50%;
          height:100%;
          background-color: white;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .frame{
            display: flex;
            display: row;
            height:70%;
            width:80%;
            background-color: black;
            border:solid black 2px;
          .health{
            width:15%;
            height: 100%;
            .health-box{
              background-color: red;
              display: flex;
              justify-content: center;
              color:white;
              height: 95%;
            }
          }
          .resource{
            width:15%;
            height: 100%;
            .mana-box{
              background-color: blue;
              display: flex;
              justify-content: center;

              color:white;
              height:95%;

            }
          }
          .image{
            width:80%;
            height:100%;
            background-color: white;
            display: flex;
            justify-content: center;
            .battleImg{
              width:90%;
              height: 100%;
            }

          }
        }
        .spells{

          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding-top: 10px;
              .wrapper{
                border: yellow solid 2px;
                width:25%;height:100%;
                display: flex;
                flex-wrap: wrap;
              }
                // .olStable{
                //   margin: 0;
                //   padding-left: 0;
                //     li{
                //         list-style: none;
                //         display: inline;
                //     }
                //   }
          }
        }
      }
  }
}
  @media(max-width:300px){
    .container{
      display: none;
    }
    .mobileContain{
      width:100vw;height:100vh;
      .bracket{
        width:100%;height: 100%;
        position: absolute;
        top:0;
        left:0;
        z-index: -10;


        // .box{
        //   width:100%;height:50%;
        //   display: flex;
        //   flex-direction: row;
        //
        //   // .resource{
        //   //   width:100%;height:10%;
        //   //   display: flex;
        //   //   align-items: flex-end;
        //   //   justify-content: space-between;
        //   //   .mana-box{
        //   //     background-color: blue;
        //   //     width:30%;
        //   //     height:5px;
        //   //   }
        //   //   .health-box{
        //   //     background-color: red;
        //   //     width: 30%;height:15px;
        //   //   }
        //   }
          // .spells{
          //   width:100%;height:50%;
          //   background-color: mistyrose;
          // }
          .top{
            width:100%;height:50%;
            display: flex;
            flex-direction: column;
            background-color: black;
            .row{
              border: solid white 2px;
              width:100%;height:33%;


            }
            .imageSec{
              display: flex;
              align-items: center;
              justify-content: center;
              .battleImg{
                width:25%;height:100%;
                transform: rotate(180deg);
              }
            }
            .resources{
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
                .mana-box{
                  width:35%;
                  height:50% !important;
                  background-color: blue;
                }
                .health-box{
                  width:35%;height:50% !important;
                  background-color: red;

                }
            }
            .spellsList{
              display: flex;
              justify-content: center;
              align-items: center;
              .wrapper{
                transform: rotate(180deg);
                width:45px;height:45px;
                .imgCl{
                  width:40px;height:40px;
                }
              }
            }
          }
          .bot{
            background-color: gray;
            width:100%;
            height:50%;
            .row{
              width:100%;height:33%;

              border: solid white 2px;

            }
            .botResources{
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .health-box{
                width:35%;
                height:50% !important;
                background-color: red;
              }
              .mana-box{
                width:35%;
                height:50% !important;
                background-color: blue;
              }
            }
            .imageSec{
              display: flex;
              align-items: center;
              justify-content: center;
              .battleImg{
                width:25%;
                height: 100%;
              }
            }
            .spellList{
              display: flex;
              justify-content: center;
              align-items: center;

              .wrapper{
                width: 45pxq;height: 45px;
                .imgCl{
                  width: 100%;height: 100%;
                }
              }
            }
          }
        }


      }
      .whereItAt{
        width:100%;height:100%;
        display: flex;
        align-items: center;
        .bar{
          width:100vw;height:15px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          .circle{
            background-color: white;
            width:50px;height:50px;
            border-radius: 25px;

            display: flex;
            justify-content: center;
            align-items: center;
            #versus{
              width:85%;height:85%;
            }
          }
        }

      }
    }
