@media(min-width:300px){
  .mobileContain{
    display: none;
  }
  .container{
    width: 100vw;height: 100vh;
    .logo{
      width:100%;height:10%;

      display: flex;
      justify-content: center;
      padding-bottom: 10px;

      .banner{
        width:50%;
        height:100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
      	font-size: 24px;
      	font-style: normal;
      	font-variant: normal;
      	font-weight: 500;
      	line-height: 26.4px;
        color:black;
        h2{
          margin: 0;
        }
      }
    }
    .bracket{

    width:100vw;
    height: 15%;
    background-color:orange;
    display: flex;
    justify-content: center;
    .current{
      width:50%;
      height:100%;
      background-color: blue;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding-top: 10px;
      #versus{
        height:30%;width:10%;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
}
  .action{
    width:100vw;height:75%;
    background-color: black;
    display: flex;
    .left{width:50%;
          height:100%;
          background-color: white;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .frame{
            display: flex;
            display: row;
            height:70%;
            width:80%;
            background-color: black;
            border:solid black 2px;
          .health{
            width:15%;
            height: 100%;
            .health-box{
              background-color: red;
              display: flex;
              justify-content: center;
              color:white;
              height: 95%;
            }
          }
          .resource{
            width:15%;
            height: 100%;
            .mana-box{
              background-color: blue;
              display: flex;
              justify-content: center;

              color:white;
              height:95%;

            }
          }
          .image{
            width:80%;
            height:100%;
            background-color: white;
            display: flex;
            justify-content: center;
            .battleImg{
              width:90%;
              height: 100%;
            }

          }
        }
        .spells{

          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding-top: 10px;
              .wrapper{
                border: yellow solid 2px;
                width:25%;height:100%;
                display: flex;
                flex-wrap: wrap;
              }
                // .olStable{
                //   margin: 0;
                //   padding-left: 0;
                //     li{
                //         list-style: none;
                //         display: inline;
                //     }
                //   }
          }
        }
      }
  }
}
  @media(max-width:300px){
    .container{
      display: none;
    }
    .mobileContain{
      display: inline-block;
      background-color: rgb($red, $green, $blue);
      width:100vw;height:100vh;
    }
  }
