
  .topContainer{

    width: 100%;height: 25vh;
    display: flex;
    flex-direction: column;

    .picknStats{
      height: 80%;
      width: 100%;
      display: flex;
        .topLeft{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
        }
        .topRight{
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }

        .box{
          width:20%;height: 100%;
          background-color: white;
          .pImgBox{
            width: 100%;height: 100%;
            background-color: #FC0019;
          }
          #versus{
            height: 100%;width: 100%;
          }
        }

      }
      .queryNav{
        width: 100%;height: 20%;
        background-color:white;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
  }
  #champContainer{
    width: 100%;
    height:75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    overflow-y: scroll;
    .champSelect img{
      width:50px;height: 50px;
    }
  }
