.champSelect{float: left;
            }
.playerBox{  height: 100px;
             width: 100px;
             background-color: black;
          }
.delete{width: 50%;height:100%;
        background-color: white;}
#playerOne{ position: absolute;
            top: 25%;
            left: 25%;
          }
#playerTwo{ position: absolute;
            top: 25%;
            left: 62%;
          }
.centered{
          width: 50vw;
          height: 30vh;
          float: right;
          background-color: blue;
        }


.champSelect{ float:left;
            }

#header{width: 100vw;height:30vh;
        background-color: red;
        position: relative;
        justify-content: center;
      }

#champContainer{width: 100vw;height:70vh;
                overflow: auto;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;}
